<ion-header>

  <ion-navbar>
    <ion-title>{{ courseId }} - {{ courseFullName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <ion-fab bottom right *ngIf="classPages == 'files'">
  <button ion-fab color="secondary" (click)="addFileModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom right *ngIf="classPages == 'posts'">
    <button ion-fab color="primary" (click)="addPostModal()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>

  <div padding>
    <ion-segment [(ngModel)]="classPages">
      <ion-segment-button value="posts">
        Posts
      </ion-segment-button>
      <ion-segment-button value="students" (click)="loadStudents()">
        Members
      </ion-segment-button>
      <ion-segment-button value="files" (click)="loadFiles()">
        Files
      </ion-segment-button>
      <ion-segment-button value="chat" (click)="loadChat()">
        Chat
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="classPages">
    <div *ngSwitchCase="'posts'">

      <ion-searchbar style="border-radius: 20px;"></ion-searchbar>

      <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ion-list *ngFor="let post of posts" inset>
        <ion-item>
        <button ion-item (click)="openPost(post)">
          <h2>{{ post.title }}</h2>
          <h3 style="display: inline">{{ post.content }}</h3>
          <h4>Posted by: {{ post.poster_name }}</h4>
          <p>{{ post.classFor.toUpperCase() }}</p>
          <p>{{ post.text }}</p>
          <h5>Posted {{ ago(post.created) }} ago</h5>
          <img [src]="post.image" *ngIf="post.image">

        </button>
          <span padding-left>
      <button ion-button icon-only clear (click)="openComments(post)">
        <ion-icon name="ios-chatbubbles-outline"></ion-icon>
      </button>
        <button ion-button icon-only clear color="primary">
          <ion-icon name="ios-heart-outline"></ion-icon>
        </button>
      </span>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
        <ion-infinite-scroll-content>

        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>

     <!--students list-->
    <div *ngSwitchCase="'students'">

      <ion-refresher (ionRefresh)="refreshStudents($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ion-list *ngFor="let student of studentsList">
        <ion-item>
          <ion-avatar item-start>
            <img src="../../../assets/imgs/avatar-default.png"/></ion-avatar>
          {{ student }}
          <!--<ng-template #anonBlock>User Hidden</ng-template>-->
          <!--<p *ngIf="!student.anon; else emailAnonBlock">{{ student.email }}</p>-->
          <!--<ng-template #emailAnonBlock><p>Email Hidden</p></ng-template>-->
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'files'">

      <ion-refresher (ionRefresh)="refreshFiles($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ion-item-group>
        <ion-item-divider color="light">Study Guides</ion-item-divider>
        <ion-list *ngFor="let file of sgList">
          <button ion-item (click)="openFile(file)">{{ file.name }}</button>
        </ion-list>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">Past Homeworks</ion-item-divider>
        <ion-list *ngFor="let file of hwList">
          <button ion-item (click)="openFile(file)">{{ file.name }}</button>
        </ion-list>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">Past Quizzes</ion-item-divider>
        <ion-list *ngFor="let file of quizList">
          <button ion-item (click)="openFile(file)">{{ file.name }}</button>
        </ion-list>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">Past Tests</ion-item-divider>
        <ion-list *ngFor="let file of testList">
          <button ion-item (click)="openFile(file)">{{ file.name }}</button>
        </ion-list>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">Syllabi</ion-item-divider>
        <ion-list *ngFor="let file of syllList">
          <button ion-item (click)="openFile(file)">{{ file.name }}</button>
        </ion-list>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">Other</ion-item-divider>
        <ion-list *ngFor="let file of otherFileList">
          <button ion-item (click)="openFile(file)">{{ file.name }}</button>
        </ion-list>
      </ion-item-group>


    </div>

    <div *ngSwitchCase="'chat'">

      <ion-item text-center>Chat feature coming soon!</ion-item>
      <ion-footer>
        <ion-item>
          <ion-input type="text" placeholder="Send a chat..."></ion-input>
          <button ion-button item-end small round>Send</button>
        </ion-item>
      </ion-footer>
    </div>
  </div>


</ion-content>
