<ion-header padding-left>

    <img src="../../assets/imgs/classesTitle.png" height="40" width="192"/>

</ion-header>


<ion-content padding class="card-background-page">

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="addClass()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

<ion-searchbar (ionInput)="searchClasses($event)"
  [showCancelButton]="shouldShowCancel">

</ion-searchbar>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <p *ngIf="false" text-center>
    <b>Looks like you haven't added any classes...add some to start using Addy!</b>
  </p>

  <ion-list *ngFor="let clas of classes">

    <ion-card class="classCard">
      <ion-item-sliding>
      <ion-item (click)="viewClass(clas)">
        <ion-avatar item-start>
          <img src="../../assets/imgs/science-icon.png" />
        </ion-avatar>
        <h1>{{ clas.name }}</h1>
        <h2 text-wrap>{{ clas.fullName }}</h2>
        <p>{{ profString(clas.professor) }}</p>

        <!--<p>{{ clas.term }}</p>-->
        <p>{{ studentString(clas.students.length) }}</p>
      </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="removeClass(clas)">
            <ion-icon name="trash">
              Remove
            </ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

  </ion-list>

</ion-content>
